.filter {
  color: #029835 !important;
}

.sidebar-group {
  width: 250px;
  overflow-y: auto;
  font-size: 15px;
  height: 100vh;
  z-index: 9;
}

.wrapper-content {
  width: 100%;
  padding-left: 270px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.wrapper-content.have-right-sidebar {
  padding-right: 320px;
}

.right-sidebar-calendar {
  width: 300px;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  min-width: 600px;
}

@media(max-width:991px) {
  .sidebar-group {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  }

  .wrapper-content {
    padding-left: 15px !important;
    padding-top: 120px;
    padding-right: 15px !important;
  }

  .right-sidebar-calendar {
    width: 100%;
    position: static;

    bottom: 0 !important;
    padding-bottom: 50px;
    height: auto;
    border-radius: 16px;
  }
}

.nav-toggle-mobile {
  display: none;
}

@media(max-width:991px) {
  .nav-toggle-mobile {
    display: flex !important;
  }
  .show-sidebar-mobile{
    transition: max-height 0.5s ease-out;
    max-height: 500px !important;
    overflow-y: auto !important;
    padding-bottom: 50px;
  }
  .hide-sidebar-mobile{
    transition:max-height 0.5s ease-out;
    max-height: 0 !important;
    margin-top: unset !important;
  }
}


.mx-datepicker .mx-input{
 height: 45px !important;
 font-size: 12px;
 border-radius: 5px;
}


@media(min-width:1400px) {
    .right-sidebar-calendar{
      width: 28%;
    }
    .wrapper-content.have-right-sidebar{
      padding-right: calc(28% + 40px);
      padding-left: 290px;
    }
}
