.filter {
  color: #029835 !important;
}

.sidebar-group {
  width: 250px;
  overflow-y: auto;
  font-size: 15px;
  height: 100vh;
  z-index: 9;
}

.wrapper-content {
  width: 100%;
  padding-left: 270px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.wrapper-content.have-right-sidebar {
  padding-right: 320px;
}

.right-sidebar-calendar {
  width: 300px;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  min-width: 600px;
}

@media(max-width:991px) {
  .sidebar-group {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  }

  .wrapper-content {
    padding-left: 15px !important;
    padding-top: 120px;
    padding-right: 15px !important;
  }

  .right-sidebar-calendar {
    width: 100%;
    position: static;

    bottom: 0 !important;
    padding-bottom: 50px;
    height: auto;
    border-radius: 16px;
  }
}

.nav-toggle-mobile {
  display: none;
}

@media(max-width:991px) {
  .nav-toggle-mobile {
    display: flex !important;
  }
  .show-sidebar-mobile{
    transition: max-height 0.5s ease-out;
    max-height: 500px !important;
    overflow-y: auto !important;
    padding-bottom: 50px;
  }
  .hide-sidebar-mobile{
    transition:max-height 0.5s ease-out;
    max-height: 0 !important;
    margin-top: unset !important;
  }
}


.mx-datepicker .mx-input{
 height: 45px !important;
 font-size: 12px;
 border-radius: 5px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(0 0 0 / 41%);
  z-index: 999999999;
}

.modal-dialog {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  width: 520px;
  position: relative;
  pointer-events: none;
}
.modal-close {
 float: right;
 font-size: 1.505rem;
 font-weight: 700;
 line-height: 1;
 color: #000;
 text-shadow: 0 1px 0 #fff;
 opacity: .5;
}
.modal-content{
  border-radius: 12px;
  position: relative;
  min-height: 40px;
  box-shadow: 0 0 1px 0 rgba(82, 100, 132, .2), 0 8px 15.52px .48px rgba(28, 43, 70, .15);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #f5f6fa;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0);
  outline: 0;
}
.modal-header{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdfea;
  padding: 1rem 1.25rem;
}
.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding:1.25rem;
}
.modal-footer{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dbdfea;
  padding: 1rem 1.25rem;
}
.min-h-150{
  min-height: 150px;
}


@media(min-width:1400px) {
  .right-sidebar-calendar{
    width: 28%;
  }
  .wrapper-content.have-right-sidebar{
    padding-right: calc(28% + 40px);
    padding-left: 290px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100% - 3.5rem);
  }
  .modal-header{
    padding: 1rem 1.5rem;
  }
  .modal-footer{
    padding: 1rem 1.5rem;
  }
  .modal-body {
    padding: 1.5rem 1.5rem;
  }
  .modal-sm{
    width: 320px;
  }
  .modal-lg {
    width: 720px;
  }
  .modal-xl {
    width: 980px;
  }
}

@media (min-width: 768px) {
  .modal-md {
    max-width: 600px;
  }
}